details{
    border-radius: 10px;

    overflow: hidden;
    transition: height 0.3s ease;
    align-items: center;
    margin: 0 auto;
}

.summary__item{
    text-decoration: none;
    font-size: var(--h2);
    display: block;
    color: var(--b);
    font-family: var(--header2);
    width: 70%;
    
}

.accordeon__element{
    width: 80%;
    margin-left: 50px;
}

summary{
    list-style-type: none; 
    display: flex;
}

summary::after {
    content: '\25BC';
    color: var(--y);
    margin-left: 50px;
    font-size: 24px;
    transition: transform 0.5s ease, color 0.3s ease;;
    animation: none;
    transform-origin: center;
    display: inline-block;
    padding-right: 20px;
}

details[open] summary::after {
    content: '\25BC';
    color: var(--y);
    animation: rotate 0.2s linear;
}

details:not([open]) summary::after {
    animation: rotate_sortie 0.2s linear;
    transform: rotate(-90deg);
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
      }
      to {
        transform: rotate(0deg);
      }
}

@keyframes rotate_sortie{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-90deg);
      }
}

.accordeon__glossaire{
    margin-left: 25px;
    margin-top: 30px;
}

.glossaire__text{
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
}